<div class="sidebar bg-dark text-white">

  <ul class="nav flex-column">

      <!-- Sync (if available) -->
    <li class="nav-item">
      <a routerLink="/home/sync" routerLinkActive="active" class="nav-link">Sync</a>
    </li>

    <!-- Listing -->
    <li class="nav-item">
      <a routerLink="/home/listing" routerLinkActive="active" class="nav-link">Listing</a>
    </li>

    <!-- Settings -->
    <li class="nav-item">
      <a routerLink="/home/settings" routerLinkActive="active" class="nav-link">Settings</a>
    </li>

  </ul>
</div>
